

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
  /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
  background-image: linear-gradient(120deg, #ffb3e7 0%, skyblue 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 0.8rem;
  width: 450px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  background: white;
  border-radius: 30px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
form button {
  width: 100px;
  height: 60px;
  font-size: 1.3rem;
  border: none;
  color: white;
  background: skyblue;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}
form button:hover {
  background: salmon;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  position: relative;
  min-width: 50%;
  list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.todo {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 650px;
  height: 60px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  background-color: white;
  border-radius: 20px;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
}
.complete-btn {
  background: skyblue;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/